s3fs>=2023.12.0
boto3
botocore
pydantic
modal
pandas
arrow
duckdb
pyarrow
doppler-sdk
libsql_experimental
fastui
unidecode
fastparquet
amazon-textract-textractor
dateparser
python-dateutil
rank-bm25
xlrd
peewee
pymysql
magika
openpyxl
instructor @ git+https://github.com/jxnl/instructor.git
markdown
pysftp
mail-parser
pygsheets
resend
